public-hoist-pattern[]=*@nextui-org/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*next*
public-hoist-pattern[]=*tailwind*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*autoprefixer*
public-hoist-pattern[]=*postcss-import*
public-hoist-pattern[]=*postcss-preset-env*
public-hoist-pattern[]=*postcss-loader*
public-hoist-pattern[]=*postcss-nested*
public-hoist-pattern[]=*postcss-custom-properties*
public-hoist-pattern[]=*postcss-custom-media*
public-hoist-pattern[]=*postcss-custom-selectors*
public-hoist-pattern[]=*postcss-custom-properties*
public-hoist-pattern[]=*postcss-custom-media*
public-hoist-pattern[]=*postcss-custom-selectors*
